<%- include('partials/_header') %>
<div class="newmap-form">
  <p class="lead text-center">
    Edit Your Pin
  </p>
  <form action = "/pins/<%= pinDetails.id %>?_method=PUT" method="POST">
    <div class="form-icon">
        <span><i class="fa-solid fa-pencil"></i>
        </span>
    </div>
    <div class="form-group">
          <input type="text" name = "title" value = "<%= pinDetails.title%>" class="form-control item" id="title" placeholder="Title" required>
    </div>
    <div class="form-group">
        <input type="text" name = "description" value = "<%= pinDetails.description%>" class="form-control item" id="description" placeholder="Description" required>
    </div>
    <div class="form-group">
        <input type="text" name = "image" value = "<%= pinDetails.image_url%>" class="form-control item" id="image" placeholder="Enter the image URL" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block submit">Submit</button>
    </div>
  </form>
</div>

<%- include('partials/_footer') %>
