<%- include('partials/_header') %>
<div class="card text-center">
  <div class="card-header">
   <h2> Hi <%= user.name %>!</h2>
  </div>
  <div class="card-body">
    <h4 class="card-title">Here are the Pins you have created</h4>
    </div>
</div>
<div class="pinList">
  <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Pinned On</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <% for(let pin of pins) { %>
      <tr>
        <td><%= pin.title %></td>
        <td><%= pin.created_at.toDateString()%></td>
        <td> <a href="/pins/<%=pin.id%>">Explore</a></td>
      </tr>
   <% } %>
  </tbody>
</table>
</div>


<%- include('partials/_footer') %>
