<%- include('partials/_header') %>
<div class="card text-center">
  <div class="card-header">
    <h3>Featured</h3>
  </div>
  <div class="card-body">
    <h2 class="card-title">Hello <%= user.name %>!</h2>
    <h4 class="card-text">Maps created by you</h4>
  </div>
</div>

<div class="mapcontainer">
  <% for(let map of maps){ %>
    <div class="card eachMap" style="width: 18rem;">
      <div id="userMap-<%= map.id %>" class = "showUserMap">

      </div>
      <script>
          L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiandhbGlhIiwiYSI6ImNrejdxa21icDFkaXUyb254d3lycm1waTMifQ.EElK29xVtr-xefOmbDrrYw', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512 ,
           zoomOffset: -1,
           accessToken: 'pk.eyJ1IjoiandhbGlhIiwiYSI6ImNrejdxa21icDFkaXUyb254d3lycm1waTMifQ.EElK29xVtr-xefOmbDrrYw'
           }).addTo(L.map("userMap-<%= map.id %>").setView([`<%= map.latitude %>`,`<%= map.longitude %>`], 13))
      </script>
     <div class="card-body">
     <p class="card-text"><%= map.title %></p>
     </div>
     <a href="/maps/<%= map.id %>" class="btn btn-outline-success">Show Details</a>
   </div>
 <% } %>
</div>
<h3 class = "text-center"><i class="fa-solid fa-heart"></i> All Your Favorite Maps</h3>
<section class = "favourite_style">
  <div class="favouriteHeader row">
    <h4>Title</h4>
    <h4>Action</h4>
  </div>
  <div class="favdata">
    <% for(let favourite of favourites) { %>
      <div class="favTitle">
        <a href="/maps/<%= favourite.id %>"><%= favourite.title%></a>
        <form action="favourite/<%= favourite.favouriteid%>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </div>
    <% } %>
  </div>


</section>

<%- include('partials/_footer') %>
